body {
    text-align: left;
}
canvas {
    float: left;
}

button, .label-file {
    padding: 20px;
    border-radius: 0;
    background-color: cadetblue;
    color: #fff;outline: none;
    text-align: center;
    border: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px
}
.input-file {
    display: none;
}